# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Phoenix Letter

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Prepare boto config
      run: |
        sudo rm -f /etc/boto.cfg
        export BOTO_CONFIG=/dev/null
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/test-requirements.txt
    - name: Lint
      run: |
        make lint-check
    - name: Test with pytest
      run: |
        make run-tests
